<nb-layout>
  <nb-layout-column>
    <nb-card id="form">
      <nb-card-body>
        <form [formGroup]="userForm">
          <p style="font-weight: bold;">Principal</p>
          <div class="items-col">
            <div>
              <div class="multi-item-row">
                <nb-form-field>
                  <input nbInput placeholder="Prefix i.e. Mr, Ms" formControlName="prefix" id="prefix">
                </nb-form-field>
                <nb-form-field>
                  <input nbInput placeholder="[Choose Gender]" formControlName="gender" id="gender" [status]="(!isFieldInvalid('gender')) ? 'basic' : 'danger'" required>
                </nb-form-field>
              </div>

              <nb-form-field>
                <input nbInput fullWidth placeholder="First Name" formControlName="firstName" id="firstName" [status]="(!isFieldInvalid('firstName')) ? 'basic' : 'danger'" required>
                <ng-container>
                  <p class="caption status-basic-100">
                    Enter the first name.
                  </p>
                </ng-container>
              </nb-form-field>

              <nb-form-field>
                <input nbInput fullWidth placeholder="Middle Name" formControlName="middleName" id="middleName">
              </nb-form-field>

              <nb-form-field>
                <input nbInput fullWidth placeholder="Last Name" formControlName="lastName" id="lastName" [status]="(!isFieldInvalid('lastName')) ? 'basic' : 'danger'" required>
                <ng-container>
                  <p class="caption status-basic-100">
                    Enter the last name.
                  </p>
                </ng-container>
              </nb-form-field>

              <input nbInput fullWidth placeholder="Postfix ie. Dr., Jr., ll" formControlName="postfix" id="postfix">
            </div>
            <div>
              <nb-form-field>
                <button nbSuffix nbButton ghost (click)="dateInput.click()" id="dateButton">
                  <nb-icon icon="calendar"> </nb-icon>
                </button>
                <nb-datepicker #datepicker></nb-datepicker>
                <input nbInput [nbDatepicker]="datepicker" fullWidth placeholder="mm/dd/yyyy" formControlName="date" id="date" [status]="(isFieldInvalid('date') && isFieldInvalid('ssn')) ? 'warning' : 'basic'" #dateInput>

                <ng-container>
                  <p class="caption status-basic-100">
                    Enter a date of birth or SSN.
                  </p>
                </ng-container>
              </nb-form-field>

              <nb-form-field>
                <input nbInput fullWidth placeholder="SSN: (000-00-0000)" formControlName="ssn" id="ssn" [status]="(isFieldInvalid('ssn') && isFieldInvalid('date')) ? 'warning' : 'basic'">
                <ng-container>
                  <p class="caption status-basic-100">
                    Enter social security number or Dob.
                  </p>
                </ng-container>
              </nb-form-field>

              <nb-form-field>
                <input nbInput fullWidth type="email" placeholder="Email" formControlName="email" id="email">
              </nb-form-field>

              <nb-form-field>
                <input nbInput fullWidth placeholder="Phone (000) 000-0000" type="tel" formControlName="phone" id="phone">
                <ng-container>
                  <p class="caption status-basic-100">
                    Enter primary phone number.
                  </p>
                </ng-container>
              </nb-form-field>

              <nb-form-field>
                <input nbInput fullWidth placeholder="Alternate Phone (000) 000-0000 (EVC)" type="tel" formControlName="altPhone" id="altPhone">
                <ng-container>
                  <p class="caption status-basic-100">
                    Enter secondary EVC phone number (Not Required).
                  </p>
                </ng-container>
              </nb-form-field>

              <button nbButton type="submit" size="small" status="info" (click)="submitForm()" [disabled]="!validateForm()">Pull Credit
                Score</button>
            </div>
          </div>
        </form>
      </nb-card-body>
    </nb-card>

  </nb-layout-column>

</nb-layout>