<nb-layout>
  <nb-layout-column>

    <nb-card id="form">
      <nb-card-body >
      <p style="font-weight: bold;">Principal</p>
      <div class="items-col">
        <div>
          <nb-form-field>
            <input nbInput placeholder="Prefix i.e. Mr, Ms">
          </nb-form-field>
          <nb-form-field>
            <nb-select placeholder="[Choose Gender]">
            </nb-select>
          </nb-form-field>
          <nb-form-field>
            <input nbInput fullWidth placeholder="First Name">
            <ng-container>
              <p class="caption status-basic-100">
                Enter the first name.
              </p>
            </ng-container>
          </nb-form-field>
          
          <nb-form-field>
            <input nbInput fullWidth placeholder="Middle Name">
          </nb-form-field>
          
          <nb-form-field>
            <input nbInput fullWidth placeholder="Last Name">
            <ng-container>
              <p class="caption status-basic-100">
                Enter the last name.
              </p>
            </ng-container>
          </nb-form-field>
         
          <input nbInput fullWidth placeholder="Postfix ie. Dr., Jr., ll">
        </div>
        <div>
          <nb-form-field>
            <nb-icon nbSuffix icon="calendar" pack="eva"></nb-icon>
            <nb-datepicker #datepicker></nb-datepicker>
            <input nbInput [nbDatepicker]="datepicker" placeholder="mm/dd/yyyy">
            <ng-container>
              <p class="caption status-basic-100">
                Enter a date of birth or SSN.
              </p>
            </ng-container>
          </nb-form-field>
  
          <nb-form-field>
            <input nbInput fullWidth placeholder="SSN: (000-00-0000)">
            <ng-container>
              <p class="caption status-basic-100">
                Enter social security number or Dob.
              </p>
            </ng-container>
          </nb-form-field>
  
          <nb-form-field>
            <input nbInput fullWidth type="email" placeholder="Email">
          </nb-form-field>
  
          <nb-form-field>
            <input nbInput fullWidth placeholder="Phone (000) 000-0000" type="tel">
            <ng-container>
              <p class="caption status-basic-100">
                Enter primary phone number.
              </p>
            </ng-container>
          </nb-form-field>

          <nb-form-field>
            <input nbInput fullWidth placeholder="Alternate Phone (000) 000-0000 (EVC)" type="tel">
            <ng-container>
              <p class="caption status-basic-100">
                Enter secondary EVC phone number (Not Required).
              </p>
            </ng-container>
          </nb-form-field>

          <button nbButton size="small" status="info">Pull Credit Score</button>
        </div>
      </div>
     
      </nb-card-body>  
    </nb-card>

    
    
  </nb-layout-column>

</nb-layout>
